<h1><%= @artist.name %></h1>

<h2>Songs</h2>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Key</th>
    <th>Tempo</th>
    <th>Year</th>
  </tr>
  </thead>
  <tbody>
  <% @artist.songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song %></td>
      <td><%= song.key %></td>
      <td><%= song.tempo %></td>
      <td><%= song.year %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_artist_path(@artist), class: 'btn btn-warning' %>
