<h1>Songs</h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th class="d-none d-md-table-cell">Key</th>
    <th class="d-none d-md-table-cell">Tempo</th>
    <th class="d-none d-md-table-cell">Year</th>
  </tr>
  </thead>
  <tbody>
  <% @songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song %></td>
      <td><%= link_to song.artist.name, song.artist %></td>
      <td class="d-none d-md-table-cell"><%= song.key %></td>
      <td class="d-none d-md-table-cell"><%= song.tempo %></td>
      <td class="d-none d-md-table-cell"><%= song.year %></td>
    </tr>
  <% end %>
  </tbody>
</table>
