<% title "#{@song.title} by #{@song.artist.name}" %>

<div class="row">
  <div class="col-md-8">
    <h1><%= @song.title %></h1>
    <h5><%= link_to @song.artist.name, @song.artist %></h5>
  </div>
  <div class="col-md-4">
    <table class="table table-sm table-borderless">
      <thead>
      <tr>
        <th>Capo</th>
        <th>Key</th>
        <th>Tempo</th>
        <th>Year</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @song.capo || raw('&mdash;') %></td>
        <td><%= @song.key || raw('&mdash;') %></td>
        <td><%= @song.tempo || raw('&mdash;') %></td>
        <td><%= @song.year || raw('&mdash;') %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="chordpro">
      <%= raw(Chordpro.html(@song.body)) %>
    </div>
  </div>
  <div class="col-md-4 d-print-none">
    <% if @song.spotify_uri.present? %>
      <iframe src="https://open.spotify.com/embed?uri=<%= @song.spotify_uri %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <% end %>
  </div>
</div>






<p class="mt-4"><%= link_to 'Edit', edit_song_path(@song), class: 'btn btn-warning d-print-none' %></p>
