<div class="row">
  <div class="col-md-8">
    <h1><%= @song.title %></h1>
  </div>
  <div class="col-md-4">
    <% if @song.spotify_uri.present? %>
      <iframe src="https://open.spotify.com/embed?uri=<%= @song.spotify_uri %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <% end %>
  </div>
</div>

<dl>
  <% if @song.artist.present? %>
    <dt>Artist</dt>
    <dd><%= link_to @song.artist.name, @song.artist %></dd>
  <% end %>
  <% if @song.capo.present? %>
    <dt>Capo</dt>
    <dd><%= @song.capo %></dd>
  <% end %>
  <% if @song.key.present? %>
    <dt>Key</dt>
    <dd><%= @song.key %></dd>
  <% end %>
  <% if @song.tempo.present? %>
    <dt>Tempo</dt>
    <dd><%= @song.tempo %></dd>
  <% end %>
  <% if @song.year.present? %>
    <dt>Year</dt>
    <dd><%= @song.year %></dd>
  <% end %>
</dl>

<%= raw(Chordpro.html(@song.body)) %>

<p><%= link_to 'Edit', edit_song_path(@song), class: 'btn btn-warning' %></p>
