<div class="row">
  <div class="col-md-8">
    <h1><%= @song.title %> <small>by <%= link_to @song.artist.name, @song.artist %></small></h1>

    <table class="table table-sm table-borderless">
      <thead>
      <tr>
        <th>Capo</th>
        <th>Tempo</th>
        <th>Key</th>
        <th>Year</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @song.capo || raw('&mdash;') %></td>
        <td><%= @song.key || raw('&mdash;') %></td>
        <td><%= @song.tempo || raw('&mdash;') %></td>
        <td><%= @song.year || raw('&mdash;') %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <% if @song.spotify_uri.present? %>
      <iframe src="https://open.spotify.com/embed?uri=<%= @song.spotify_uri %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <% end %>
  </div>
</div>


<div class="chordpro">
  <%= raw(Chordpro.html(@song.body)) %>
</div>

<p class="mt-4"><%= link_to 'Edit', edit_song_path(@song), class: 'btn btn-warning' %></p>
